= component 'page-title', title: 'Dashboard'

.box.mt10
  p Blank page Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero enim possimus fuga accusamus eos perferendis placeat at aliquid beatae! Quaerat nesciunt doloribus sapiente tempore debitis perspiciatis non adipisci quas repellendus.
