h1.title Home#index
p Find me in app/views/home/index.html.slim

= link_to 'Dashboard', admin_dashboard_path
- if user_signed_in?
  = link_to 'Logout', destroy_user_session_path
- else
  = link_to 'Login', new_user_session_path
